In [1]:
import os 
import numpy as np
import pandas as pd
import seaborn as sns
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.model_selection import train_test_split
# from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,plot_confusion_matrix,plot_roc_curve,plot_precision_recall_curve

In [2]:
df = pd.read_csv('IMDB Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [3]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [4]:
df.duplicated().sum()

418

In [5]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [6]:
df[df['sentiment']=='positive']

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
4      Petter Mattei's "Love in the Time of Money" is...  positive
5      Probably my all-time favorite movie, a story o...  positive
...                                                  ...       ...
49983  I loved it, having been a fan of the original ...  positive
49985  Imaginary Heroes is clearly the best film of t...  positive
49989  I got this one a few weeks ago and love it! It...  positive
49992  John Garfield plays a Marine who is blinded by...  positive
49995  I thought this movie did a down right good job...  positive

[25000 rows x 2 columns]

In [8]:
d=[]
for i in df['review']:
    d = df[df['review']==i]
d

KeyboardInterrupt:

In [9]:
duplicatied_review = df[df['review'].isin(df['review'][df['review'].duplicated()])].sort_values('review')
duplicatied_review

                                                  review sentiment
34058  "Go Fish" garnered Rose Troche rightly or wron...  negative
47467  "Go Fish" garnered Rose Troche rightly or wron...  negative
29956  "Three" is a seriously dumb shipwreck movie. M...  negative
31488  "Three" is a seriously dumb shipwreck movie. M...  negative
47527  "Witchery" might just be the most incoherent a...  negative
...                                                  ...       ...
47876  this movie sucks. did anyone notice that the e...  negative
44122  well, the writing was very sloppy, the directi...  negative
23056  well, the writing was very sloppy, the directi...  negative
10163  when I first heard about this movie, I noticed...  positive
15305  when I first heard about this movie, I noticed...  positive

[824 rows x 2 columns]

In [10]:
df.drop_duplicates(inplace = True)
df.duplicated().sum()

0

In [11]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[49582 rows x 2 columns]

In [12]:
import re

In [31]:
def  remove_tag(text):  ## removing html tags 
    #cleaned_text = re.sub(re.compile('<.*?>'),'',text)
    text = re.sub(r'[^\w\s]', '', text)  # Removes punctuation
    text = re.sub(r'\d+', '', text)      # Removes numbers
    return text

In [32]:
df['review'] = df['review'].apply(remove_tag)
df.head(5)

                                              review sentiment
0  one reviewers mentioned watching  oz episode h...  positive
1  wonderful little production filming technique ...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically theres family little boy jake thinks...  negative
4  petter matteis love time money visually stunni...  positive

In [34]:
stop_words = stopwords.words('english')
df['review'] = df['review'].apply(lambda x :x.lower())
df

                                                  review sentiment
0      one reviewers mentioned watching  oz episode h...  positive
1      wonderful little production filming technique ...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically theres family little boy jake thinks...  negative
4      petter matteis love time money visually stunni...  positive
...                                                  ...       ...
49995  thought movie right good job creative original...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  im going disagree previous comment side maltin...  negative
49999  one expects star trek movies high art fans exp...  negative

[49582 rows x 2 columns]

In [35]:
def remove_stopwords(text):
    words = text.split()
    stop_words = set(stopwords.words('english'))
    filtered_sentence = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_sentence)

In [36]:
df['review']=df['review'].apply(remove_stopwords)
df

                                                  review sentiment
0      one reviewers mentioned watching oz episode ho...  positive
1      wonderful little production filming technique ...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically theres family little boy jake thinks...  negative
4      petter matteis love time money visually stunni...  positive
...                                                  ...       ...
49995  thought movie right good job creative original...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  im going disagree previous comment side maltin...  negative
49999  one expects star trek movies high art fans exp...  negative

[49582 rows x 2 columns]

In [39]:
df.sentiment  = [1 if each == "positive" else 0 for each in df.sentiment]
df

                                                  review  sentiment
0      one reviewers mentioned watching oz episode ho...          1
1      wonderful little production filming technique ...          1
2      thought wonderful way spend time hot summer we...          1
3      basically theres family little boy jake thinks...          0
4      petter matteis love time money visually stunni...          1
...                                                  ...        ...
49995  thought movie right good job creative original...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  catholic taught parochial elementary schools n...          0
49998  im going disagree previous comment side maltin...          0
49999  one expects star trek movies high art fans exp...          0

[49582 rows x 2 columns]

In [42]:
xtrain,xtest,ytrain,ytest = train_test_split(df['review'],df['sentiment'],test_size = 0.2,random_state = 42)

7837     really liked movie emporers new groove watchin...
4814     decided watch movie noted scariest movie ever ...
35458    hard say going lady shanghai film could withou...
3446     scifi adventure best means worst agree stateme...
24478    around late animator bluth frustrated output c...
                               ...
11304    dictated thin experience life industry cash so...
45059    classic case something never gloria single mot...
38405    spoilers spoilersi saw movie last night screen...
860      production quite surprise absolutely love obsc...
15838    real eye candy world made floating islands fly...
Name: review, Length: 39665, dtype: object

In [55]:
# ''' for BOW or N-grams Vectorizer'''
# cv = CountVectorizer(max_features = 1000)
# xtrain_bow = cv.fit_transform(xtrain).toarray()
# xtest_bow = cv.fit_transform(xtest).toarray()
# xtrain_bow.shape

'''      TF-IDF  vectorizer'''
tfidf = TfidfVectorizer()
xtrain_tf = tfidf.fit_transform(xtrain)
xtest_tf = tfidf.fit_transform(xtest)

In [56]:
'''  this for RandomForestClassifier'''
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
rf = RandomForestClassifier()
rf.fit(xtrain_bow,ytrain)
y_pred = rf.predict(xtest_bow)
print(accuracy_score(ytest,y_pred))

# ''' for Naive Bayes '''
# from sklearn.naive_bayes import GaussianNB
# gnb = GaussianNB()
# gnb.fit(xtrain_bow,ytrain)
# ypred = gnb.predict(xtest_bow)
# accuracy_score(ytest,ypred)

0.5188060905515781